body{
    background: linear-gradient( lightcyan,rgb(185, 162, 141), lightslategray)
}


.jumbotron{
    background-color:#c4d9ee;
}
.container{
    
}
.meet{
    padding : 25%;
    text-align: center
}
#daveHill{
    background: url(https://media2.fdncms.com/portmerc/imager/u/original/18963311/davehill.jpg);
    background-size : 100% 100%;
    
   
    background-repeat: no-repeat;
}
p{
    color:steelblue;
}
.navbar{
    margin-bottom: 1px;
}
.picNames{
    color: #c4d9ee;
}
#first{
    height:90px;
    
}
#firstJumbotron{
    max-height: 100%;
    padding:1%;
}

.enlarged{
    -webkit-transform:scale(2); /* or some other value */
    transform:scale(2);
    position:absolute;
    z-index:10;

}
.top{
    height:60px;
    background:rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0,0,0,.125);

}
#side{
    width:100%;
   
    background:rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-header{
    margin:10px;
}

.pink{
    border: 1px solid black;
    
}
h3,h4{
    text-align:center;
}
#contentTable{
    margin-top:200px;
    border: 1px solid #c4d9ee
}
.left{
    text-align:left;
}
#img3{
    
}
.bio{
    border: 1px solid #c4d9ee;
    overflow : hidden;
}
.bio p{
    text-align: center;
}
.mark{
    background:#c4d9ee;
    border: 1px solid #c4d9ee;
}
.xs{
    font-size: small;
    
}
.left{
    text-align:left;
}
.register-form{
    display: none;
}
#form-card{
    width:60%
}
.right{
    text-align:right;
}
#form-card{
    margin: 50px auto;
    
}